<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
    <h1>People</h1>
    <table>
        <tr>
            <th style="color: darkslategrey">id</th>
            <th style="color: darkslategrey">Name</th>
            <th style="color: darkslategrey">LastName</th>
            <th style="color: darkslategrey">email</th>
        </tr>
        <tr th:each="person : ${people}">
            <th th:text="${person.getId()}"></th>
            <th th:text="${person.getName()}"></th>
            <th th:text="${person.getLastName()}"></th>
            <th th:text="${person.getEmail()}"></th>
            <th><a th:href="@{/people/{id}(id=${person.getId()})}">Show</a></th>
        </tr>
    </table>
    <br/>
    <hr/>
    <a href="/people/new">Add new Person</a>
</body>
</html>