<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
    <h1>Person details</h1>
    <div>
        <b>Name: </b><span th:text="${person.getName()}"></span><br/>
        <b>Last name :</b><span th:text="${person.getLastName()}"></span><br/>
        <b>Email: </b><span th:text="${person.getEmail()}"></span><br/>
        <a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a><br/>
        <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
            <input type="submit" value="Delete"/>
        </form>
    </div>
</body>
</html>